* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url('../images/bg.jpg');
    background-size: cover;
    background-attachment: fixed;
}

.screen {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

#logo {
    width: 30%;
}

#welcome-text {
    font-family: tahoma;
    font-weight: bolder;
    font-size: 2em;
}

.nav-button {
    display: inline-block;
    margin-top: 15px;
    text-decoration: none;
    border: 2px solid green;
    padding: 10px 30px 10px 30px;
    border-radius: 20px;
    background-color: green;
    color: whitesmoke;
    transition: all 1s ease-in-out;
}

.nav-button:hover {
    background-color: purple;
}

.header h1 {
    font-family: algerian;
    font-size: 2em;
}

.content {
    text-align: center;
    padding: 50px;
    border: 2px solid grey;
    border-radius: 50px;
}

.content p {
    padding: 5px;
    background: rgba(0,0,0,0.3);
    font-family: tahoma;
}

#contacts {
    background-color: #7f7;
    color: black;
    text-align: left;
}